extends layout

block content
  h1 Login de Usuario

  form(action="/login" method="POST")
    .mb-3
      label(for="username" class="form-label") Username
      input#username.form-control(type="text" name="username" required)

    .mb-3
      label(for="password" class="form-label") Contraseña
      input#password.form-control(type="password" name="password" required)

    button.btn.btn-primary(type="submit") Iniciar Sesión
